
*{
    -fx-font-family: "Cascadia Code PL";
}

.btnIcon{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25 25;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-content-display: center;
}

.btnIcon:hover{
    -fx-scale-x: 1.1px;
    -fx-scale-y: 1.1px;
    -fx-animated: true;
}

.btnIcon:pressed{
    -fx-scale-x: 1.1px;
    -fx-scale-y: 1.1px;
    -fx-animated: true;
    -fx-background-color: rgba(255, 241, 0, 0.11);
}

#save{
    -fx-background-image: url("../images/delete.png");
}

#save{
    -fx-background-image: url("../images/save.png");
}
#customize{
    -fx-background-image: url("../images/customize.png");
}
#settings{
    -fx-background-image: url("../images/settings.png");
}

#search{
    -fx-background-image: url("../images/search.png");
}

.sideBar{
    -fx-pref-width: 25%;
}

.formRequest{
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-fill-height: true;
}

#comboBoxHttpVerbs{
    -fx-padding: 5px;
}

.formRequestData{
    -fx-padding: 10px;
}

.headers{
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.header{
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.btnDeleteHeader{
    -fx-background-image: url("../images/delete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25 25;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


#btnAddHeader{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.body{
    -fx-spacing: 10px;
}

.button{
    -fx-padding: 10px 20px;
}

.input{
    -fx-fill-height: true;
    -fx-padding: 10px;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}
.response{
    -fx-background-color: white;
    -fx-max-width: 100%;
    -fx-min-width: 100%;
}